<!DOCTYPE html>
<html>
<head>
  <title>Image Labeling Tool</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <style>
    .header {
      display: flex;
      align-items: center; 
    }
    #controller {
      margin-left: 20px;
      border: 2px solid green;
    }
    #image-container {
      position: absolute;
      display: inline-block;
    }
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
    }
    .red-dot {
      background-color: red;
    }
    .blue-dot {
      background-color: blue;
    }
    #image-container.drawing {
      cursor: crosshair;
    }
    .box {
      border: 2px solid rgb(3, 255, 3);
      position: absolute;
      display: none;
    }
    button {
      position: relative;
    }
  </style>
</head>
<body>
  <div class="header">
    <h2>Image Labeling Tool</h2>
    <div id="controller">
      <button onclick="confirmPoints()">Confirm</button>
      <button id="buttonA">Upload Image</button>
      <button id="bbox">Draw Bounding Box</button>
    </div>
  </div>
  <div id="image-container">
    <img id="image" src="static/CUHK_AI_for_future.jpg" alt="Image">
    <div class="overlay"></div>
    <div id="box" class="box" style="display: none;"></div>
    <div id="red-dot" class="dot red-dot" style="display: none;"></div>
    <div id="blue-dot" class="dot blue-dot" style="display: none;"></div>
  </div>

  <a id="downloadAnchorElem" style="display:none"></a>

  <script>
    var imageSrc = "static/CUHK_AI_for_future.jpg";
    var imageName = imageSrc.substring(imageSrc.lastIndexOf('/') + 1);
    var redDot = $("#red-dot");
    var blueDot = $("#blue-dot");
    var points = {};
    var data = {};
    var clickCount = 4;

    var isDrawing = false;
    var startX, startY, endX, endY;
    var boundingBox = [[0,0,0,0]];

    let imageElement = document.getElementById('image');
    let rect = imageElement.getBoundingClientRect();

    function startDrawing(event) {
      $("#image").attr("draggable", "false");
      $("#image").attr("onselectstart", "return false;");
      $("#image").attr("onmousedown", "return false;");
      console.log("picture info", rect.left, rect.top);
      startX = event.pageX - rect.left;
      startY = event.pageY - rect.top;

      console.log("Start Drawing", startX, startY);
    }

    function endDrawing(event) {
      if (isDrawing) {
        endX = event.pageX - rect.left;
        endY = event.pageY - rect.top;
        var left = Math.min(startX, endX);
        var bottom = Math.max(startY, endY);
        var right = Math.max(startX, endX);
        var top = Math.min(startY, endY);
        var width = Math.abs(startX - endX); // Calculate width
        var height = Math.abs(startY - endY); // Calculate height
        boundingBox = [[left, top, right, bottom]];
        var box = $("#box");
        box.css({left: left, top: top , width: width, height: height, position: "absolute"}); // Set width and height
        box.show();
        console.log("Bounding Box:", boundingBox);
      }
      isDrawing = false;
      $("#image-container").removeClass("drawing");

      console.log("Drawing Bounding Box", isDrawing);
    }

    $("#bbox").click(function() {
      isDrawing = true;
      console.log("Drawing Bounding Box", isDrawing);
      $("#image-container").addClass("drawing");
      $("#image-container.drawing").mousedown(startDrawing);
      $("#image-container.drawing").mouseup(endDrawing);
    });

    function updateClickCount() {
      $('#click-count-display').text(clickCount);
    }

    function showPath(i) {
      $('#path').text(i);
    }

    function loadImage(src) {
      imageSrc = src;
      $("#image").attr("src", src);
    }

    function markRedDot(x, y) {
      redDot.css({left: x, top: y});
      redDot.show();
      points["red_dot"] = {"x": x, "y": y};
    }

    function markBlueDot(j, k) {
      blueDot.css({left: j, top: k});
      blueDot.show();
      points["blue_dot"] = {"x": j, "y": k};
    }

    function confirmPoints() {
      data['keypoints'] = [[[points["red_dot"]["x"], points["red_dot"]["y"], 1], [points["blue_dot"]["x"], points["blue_dot"]["y"], 1]]];
      data['bboxes'] = boundingBox;

      // 發送POST請求以保存JSON文件到Colab環境
      $.ajax({
        url: '/save_json',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          file_name: imageName.replace('.jpg', '') + '.json',
          json_data: data
        }),
        success: function(response) {
          alert(response.message);
        },
        error: function(error) {
          alert('Error saving JSON file.');
        }
      });
    }

    $("#buttonA").click(function() {
      var fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*';
      fileInput.onchange = function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          var imageUrl = e.target.result;
          imageName = file.name;
          loadImage(imageUrl);
          showPath(file.name);
        };
        reader.readAsDataURL(file);
      };
      fileInput.click();
    });

    $("#image-container").click(function(event) {
      var x = event.pageX - $(this).offset().left;
      var y = event.pageY - $(this).offset().top;

      if (clickCount % 3 === 0) {
        redDot.hide();
        blueDot.hide();
        delete points["red_dot"];
        delete points["blue_dot"];
      } else if (clickCount % 3 === 1) {
        markRedDot(x, y);
      } else {
        markBlueDot(x, y);
      }

      clickCount++;
      updateClickCount();
    });
  </script>
</body>
</html>
