<!DOCTYPE html>
<html>
<head>
  <title>Image Labeling Tool</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <style>
    #image-container {
      position: relative;
      display: inline-block;
    }
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
    }
    .red-dot {
      background-color: red;
    }
    .blue-dot {
      background-color: blue;
    }
    #image-container.drawing {
      cursor: crosshair;
    }
    .box {
      position: absolute;
      border: 2px solid green;
      display: none;
    }
  </style>
</head>
<body>

  <h2>Image Labeling Tool</h2>

  <div id="image-container">
    <img id="image" src="" alt="Image">
      <div class="overlay"></div>
      <div id="box" class="box" style="display: none;"></div>
    <div id="red-dot" class="dot red-dot" style="display: none;"></div>
    <div id="blue-dot" class="dot blue-dot" style="display: none;"></div>
    
  </div>

  <button onclick="confirmPoints()">Confirm</button>
  <button id="buttonA">Upload Image</button>
  <button id="bbox">Draw Bounding Box</button>

  <a id="downloadAnchorElem" style="display:none"></a>
  <p>Click Count: <span id="click-count-display"></span></p>
  <p>path: <span id="path"></span></p>

  <script>
    var imageSrc = "";
    var imageName = imageSrc.substring(imageSrc.lastIndexOf('/') + 1);
    //var imageName = imageSrc;
    var redDot = $("#red-dot");
    var blueDot = $("#blue-dot");
    var points = {};
    var data = {};
    var clickCount = 4;

    var isDrawing = false;
    var startX, startY, endX, endY;
    var boundingBox = [[0,0,0,0]];

    function startDrawing(event) {
      $("#image").attr("draggable", "false");
      $("#image").attr("onselectstart", "return false;");
      $("#image").attr("onmousedown", "return false;");
      startX = event.pageX - $(this).offset().left;
      startY = event.pageY -$(this).offset().top;
    }

    function endDrawing(event) {
      if (isDrawing) {
        endX = event.pageX - $(this).offset().left;
        endY = event.pageY -$(this).offset().top;
        var left = Math.min(startX, endX);
        var top = Math.max(startY, endY);
        var right = Math.max(startX, endX);
        var bottom = Math.min(startY, endY);
        var width = Math.abs(startX - endX); // Calculate width
        var height = Math.abs(startY - endY); // Calculate height
        boundingBox = [[left,bottom,right,top]];
        var box = $("#box");
        box.css({left: left, bottom: event.pageY - bottom, width: width, height: height, position: "absolute"}); // Set width and height
        box.show();
        console.log("Bounding Box:", boundingBox);
        // You can perform further actions with the bounding box data
      }
      isDrawing = false;
      $("#image-container").removeClass("drawing");

      console.log("Drawing Bounding Box", isDrawing);
    }

    $("#bbox").click(function() {
      isDrawing = true;
      console.log("Drawing Bounding Box", isDrawing);
      $("#image-container").addClass("drawing");
      $("#image-container.drawing").mousedown(startDrawing);
      $("#image-container.drawing").mouseup(endDrawing);
    });

    

    function updateClickCount() {
    $('#click-count-display').text(clickCount);
    }
    function showPath(i) {
    $('#path').text(i);
    }

    function loadImage(src) {
      imageSrc = src;
      $("#image").attr("src", src);
    }

    function markRedDot(x, y) {
      redDot.css({left: x, top: y});
      redDot.show();
      points["red_dot"] = {"x": x, "y": y};
    }

    function markBlueDot(j, k) {
      blueDot.css({left: j, top: k});
      blueDot.show();
      points["blue_dot"] = {"x": j, "y": k};
    }
    
    function confirmPoints() {
      data['keypoints'] = [[[points["red_dot"]["x"],points["red_dot"]["y"],1],[points["blue_dot"]["x"],points["blue_dot"]["y"],1]]];
      data['bboxes'] = boundingBox;
      var jsonString = JSON.stringify(data);
      downloadObjectAsJson(data, imageName);
      alert("Points saved:\n" + jsonString);
    }

    function downloadObjectAsJson(exportObj, exportName){
      var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
      var downloadAnchorNode = document.createElement('a');
      downloadAnchorNode.setAttribute("href",     dataStr);
      downloadAnchorNode.setAttribute("download", exportName + ".json");
      document.body.appendChild(downloadAnchorNode); // required for firefox
      downloadAnchorNode.click();
      downloadAnchorNode.remove();
    }

    // Sample usage:
    loadImage("static/piggy.png");
    
    $("#buttonA").click(function() {
      var fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*';
      fileInput.onchange = function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          var imageUrl = e.target.result;
          imageName =file.name;
          loadImage(imageUrl);
          showPath(file.name);
        };
        reader.readAsDataURL(file);
      };
      fileInput.click();
    });
    // Event listener for marking points on click
    $("#image-container").click(function(event) {
      var x = event.pageX - $(this).offset().left;
      var y = event.pageY - $(this).offset().top;
     
      if (clickCount % 3 === 0) {
        // Canceling logic
        redDot.hide();
        blueDot.hide();
        delete points["red_dot"];
        delete points["blue_dot"];
      } else if (clickCount % 3 === 1) {
        // Red dot logic
        markRedDot(x, y);
      } else {
        // Blue dot logic
        markBlueDot(x, y);
      }
      
      clickCount++;
      updateClickCount();
      // You can customize the logic for red and blue dots based on user interactions
    });
 

  </script>

</body>
</html>
